body {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Candara, Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    text-decoration: none;
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)):not(h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a):not(.k-btn) {
    color: var(--color-link);
}

main a, footer a {
    color: var(--color-link);
}

a.k-btn:hover {
    text-decoration: none;
}

main a:hover, footer a:hover {
    text-decoration: underline;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: var(--color-foreground) !important;
    position: relative;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
    text-decoration: none !important;
}

h1 > a:hover::before, h2 > a:hover::before, h3 > a:hover::before, h4 > a:hover::before, h5 > a:hover::before, h6 > a:hover::before {
    content: "#";
    color: var(--color-link);
    left: -0.75em;
    position: absolute;
    line-height: 1.25em;
}

.rtl {
    display: inline-block; 
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
