---
import Layout from "./Layout.astro";
import Hero from "../components/Hero.vue";
import Container from "../components/Container.vue";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main>
    <Container>
      <Hero>Graphs, Models AI?<br />Hello <em>Kurrawong</em>AI!</Hero>
      <slot />
    </Container>
  </main>
</Layout>
