main {
  font-family: sans-serif;
  @apply px-2;
}

main > p > a {
  @apply text-[#980000] visited:text-[#980000] hover:underline;
}

/* user agent stylesheet */
html {
  line-height: 1.5em;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  @apply text-[#980000] visited:text-[#980000] hover:underline;
}

h1 {
  @apply container mx-auto text-center text-2xl sm:text-4xl md:text-6xl font-bold py-8;
}

h2 {
  @apply text-2xl font-semibold mb-4 mt-8;
}

h3 {
  @apply text-xl font-semibold mb-4 mt-8;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
