---
import Layout from "./Layout.astro";
import Hero from "../components/Hero.vue";
import Container from "../components/Container.vue";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main>
    <Container>
      <Hero>Data problems?<br />We can help.</Hero>
      <slot />
    </Container>
  </main>
</Layout>
