---
import Header from "../components/Header.vue";
import FloatImageText from "../components/FloatImageText.vue";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/kurrawong.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <FloatImageText
      imageUrl="graph.png"
      width="200"
      alt="A graph image with ndoes and edges."
      >Kurrawong AI can be contracted directly and is on several government
      panels. Please just contact us to make arrangements.</FloatImageText
    >
    <slot />
  </body>
</html>
