---
import "./Layout.css";
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/kurrawong.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header
      items={[
        { label: "Products", href: "/products" },
        { label: "Services", href: "/services" },
        { label: "People", href: "/people" },
        { label: "Projects", href: "/projects" },
        { label: "Contact", href: "/contact" },
      ]}
    />
    <slot />
    <Footer />
  </body>
</html>
