/* CSS variables */
:root {
  --primary-color: #8d0000;
  --secondary-color: #aba500;
}

::selection {
  background-color: rgb(216 255 246 / var(--tw-bg-opacity));
  color: #000000 !important;
}

main {
  font-family: sans-serif;
  @apply px-2 min-h-screen;
}

main p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  @apply text-[#3366ff] visited:text-[#3366ff] focus:outline-none focus:ring focus:ring-blue-500 focus:ring-opacity-50 rounded;
}

main a {
  @apply hover:underline;
}

main h2 {
  @apply text-2xl font-semibold mb-4 mt-8;
}

main h3 {
  @apply text-xl font-semibold mb-4 mt-8;
}

main ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

main li {
  display: list-item;
  text-align: -webkit-match-parent;
}
