---
import Layout from "./Layout.astro";
import Container from "../components/Container.vue";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main>
    <Container>
      <slot />
    </Container>
  </main>
</Layout>
